!**/gradle-wrapper.jar
**/*.class
**/*.ctxt
**/*.ear
**/*.iml
**/*.ipr
**/*.iws
**/*.jar
**/*.log
**/*.rar
**/*.tar.gz
**/*.war
**/*.zip
**/.AppleDB
**/.AppleDesktop
**/.AppleDouble
**/.DS_Store
**/._*
**/.gradle
**/.idea/
**/.idea/**
**/bin/
**/bin/**
**/out/
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.apdisk
.com.apple.timemachine.donotpresent
.fseventsd
.gradletasknamecache
.mtj.tmp/
/.gtm/
/build/
Icon
Network Trash Folder
Temporary Items
atlassian-ide-plugin.xml
cmake-build-debug/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
fabric.properties
gradle-app.setting
hs_err_pid*
!/gradle/wrapper/gradle-wrapper.jar

local.properties
**/build
**/.classpath
*.hprof
.project
.settings/org.eclipse.buildship.core.prefs
*.prefs
.env
